<div id="clapContainer" class="fixed-button">
<div class="canvas">
    <div id="totalCounter" class="total-counter"></div>
    <div id="clap" onmouseover="clapHovered()" onmouseup="clapReleased('{{.Params.clapId}}')" onmousedown="clapPressed()" class="clap-container">
        <i class="clap-icon fa-solid fa-hands-clapping"></i>
    </div>
    
    <div id="clicker" class="click-counter">
        <span class="counter"></span>
    </div>
    
    <div id="sonar-clap" class="clap-container-sonar"></div>
    
    <div id="particles" class="particles-container">
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
    </div>
    
    <div id="particles-2" class="particles-container">
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
    </div>
    
    <div id="particles-3" class="particles-container">
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
    </div>
    
</div>
</div>

<script src="https://www.gstatic.com/firebasejs/10.3.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.3.0/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.3.0/firebase-auth-compat.js"></script>
{{- dict "Source" "js/clap.js" "Minify" false | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
<script>
window.addEventListener("load", function(){
    getClaps("{{.Params.clapId}}");
});
</script>